.DS_Store
.dist
.idea
nodemon.json
server/controllers/config/heroku.dev.js
logs
*.log
*.xml
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.editorconfig
.nyc_output
.lock-wscript
build/Release
node_modules/
.npm
package-lock.json
