.DS_Store
.dist
nodemon.json
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.lock-wscript
build/Release
node_modules/
.npm
package-lock.json
.idea/
.idea/workspace.xml
workspace.xml
*.xml
*.iml
server/controllers/config/serv.connect.opt.js

